{% extends "base.html" %}
{% block title %}О проекте{% endblock %}

{% load static %}
{% block main %}
    <div class="container">
        <div class="row my-4">
            <h1 class="col">О проекте</h1>
        </div>
        <div class="row my-4">
            <h2 class="col">Об авторе</h2>
        </div>
        <div class="row my-4">
            <div class="col">
                <p>Привет! Меня зовут Константин, я начинающий
                    разработчик и этот
                    проект я создал в рамках изучения фреймворака Django и Django
                    Rest Framework. Вы можете посмотреть мой профиль
                    <a href="https://github.com/captainKoala">на GitHub</a>.
                </p>
                <p>Проект представляет собой сервис, позволяющий пользователям публиковать кулинарные рецепты,
                    подписываться на публикации других пользователей, добавлять понравившиеся рецепты в список
                    «Избранное», а перед походом в магазин скачивать сводный список продуктов, необходимых для
                    приготовления одного или нескольких выбранных блюд.</p>
            </div>
        </div>
        <div class="row my-4">
            <h2 class="col">Сайт</h2>
        </div>
        <div class="row">
            <div class="col">
                <p>Сайт предоставляет право просмотра любым пользователям списка рецептов, подробного описания
                каждого рецепта, а также страничек авторов. Для получения права публикации собственных рецептов,
                а также возможности подписываться на отдельных авторов, добавлять понравившиеся рецепты в
                избранное и формировать список покупок, пользователь должен авторизоваться.</p>

                <p>Адаптивная верстка сделана с использованием Bootstrap, страницы генерируется из шаблонов, написанных
                на Django template language. Для некоторой кастомизации стилей использовался чистый CSS, а также
                написано несколько скриптов на JavaScript.</p>

                <h3>Панель администратора</h3>
                <p>Панель администратора реализована на базе стандартной админки Django. Доступ к админке открыт только
                пользователям со статусом "Персонал".</p>
                <p>Пользователи могут быть добавлены в список персонала в административной панели другими
                администраторами. Пользователи из группы "Администраторы" могут управлять (создавать, редактировать,
                удалять) всеми сущностями - рецепты, теги, ингредиенты, пользователи и т.д. Доступ к редактированию или
                удалению рецептов доступен администраторам и на страницах рецептов.</p>

                <h3>Регистрация</h3>
                <p>Для регистрации потребуется ввести имя пользователя (login), имя, фамилию и e-mail. После ввода
                этих данных на адрес электронной почты отправляется ссылка для его подтверждения, пройдя по которой,
                пользователь завершает регистрацию.</p>
                <p>На сайте функционирует система восстановления пароля в случае его утери. Для восстановления на адрес
                электронной почты направляется ссылка, перейдя по которой можно создать новый пароль.</p>
                <p>На собственной странице пользователь также может найти кнопку для изменения пароля.</p>

                <h3>Фильтрация по тегам</h3>
                <p>Рецепты во всех разделах могут быть отфильтрованы по тегам (например, отмеченные тегом "завтрак").
                Теги могут создавать только администраторы, выбрав при этом цвет тега и его слаг (slug). В целом
                инструмент фильтрации по тегам не предполагает наличия большого количества тегов.</p>
                <p><b><i>Из интересного здесь</i></b> - реализованная на JavaScript "защита от дурака" в выборе цветов -
                если выбран очень светлый цвет, то его шрифт в фильтре будет на сайте изменен на более тёмный (путем
                равномерного увеличения всех компонент RGB). Также корректируется фоновый цвет для списка тегов рецепта.
                </p>

                <h3>Ингредиенты</h3>
                <p>Список ингредиентов могут редактировать администраторы в админ-панели. В списке присутствует более
                2000 ингредиентов, поэтому при создании/редактировании рецепта решено было избавиться от выпадающего
                списка и добавить поле с поиском. Оно было реализовано с помощью Select2 с некотороми изменениями в
                CSS-стилях. Из-за неизвестного заранее количества ингредиентов в рецепте, были написаны скрипты для
                динамического формирования форм выбора ингредиентов и их удаления.</p>

                <h3>Теги</h3>
                <p>Для чекбокса со списком тегов при создании рецепта был переписан стандартный джанговский виджет,
                поскольку в нём CSS-классы пробрасывались внутрь для всех элементов - получалось что-то страшное.
                <b><i>Отмечу</i></b>, что для реализации пришлось написать собственный джанговский шаблонный фильтр.
                Также свой фильтр используется для добавления бутстраповских классов на элементы формы.</p>

                <h3>Пагинация</h3>
                <p>Пагинация списка рецептов выполнена средствами Django. <b><i>Можно отметить</i></b> кастомный виджет
                пагинации, написанный собственноручно на JavaScript.</p>

                <h3>Список покупок</h3>
                <p>Добавив рецепты в список покупок, пользователь сможет получить перечень всех ингредиентов,
                необходимых для их приготовления и необходимое их количество суммарно по каждому ингредиенту.
                То есть, если в одном рецепте, например, нужно 250 г муки и 4 яйца, а во втором 200 г муки и 2 яйца, то
                по будет выведено общее количество - 450г муки и 6 яиц.</p>
                <p><b><i>Из интересного здесь</i></b> - это возможность скачать этот список в формате PDF-файла.</p>
            </div>
        </div>
        <div class="row my-4">
            <h2 class="col">API</h2>
        </div>
        <div class="row my-4">
            <div class="col">
                <p>API создавалось с помощью Django Rest Framework по готовому заданию, описанному
                    <a href="{% static 'docs/redoc.html' %}">в этом ReDoc</a>.
                    Корень API доступен по <a href="/api/">данной ссылке.</a>
                </p>
                <h3>Авторизация</h3>
                <p>Авторизация осуществляется по токену. Для управления пользователями использовался Djoser.</p>
            </div>
        </div>
        <div class="row my-4">
            <h2 class="col">Дополнительная информация</h2>
        </div>
        <div class="row my-4">
            <div class="col">
                <p>Изначально в задании для проекта был готовый фронтенд, сделанный на React, и ставилась задача
                написать API, с последующей возможностью развернуть проект с этим фронтом в докер-контейнерах. Эта
                возможность была реализована и проект разворачивается с помощью docker compose в 4 контейнерах:
                бекенд c API, фронтенд на React, база данных PostgreSQL и контейнер с Nginx.</p>
                <p>Подробнее об этом - в <a href="https://github.com/captainKoala/foodgram-project-react">репозитории
                проекта на GitHub</a>.</p>
                <p>Уже после этого было решено для дополнительной практики написать сайт на джанговских шаблонах с
                бутстрапом.</p>
            </div>
        </div>
        <div class="row my-4">
            <h2 class="col">Используемые технологии</h2>
        </div>
        <div class="row my-r">
            <div class="col">
                <ul>
                    <li><b>Django 3.2</b>, а также
                        <ul>
                            <li><b>Djoser 2.1.0</b></li>
                            <li><b>Django-wkhtmltopdf 3.3.0</b></li>
                            <li><b>Django-filter 2.4.0</b></li>
                            <li><b>Django-colorfield 0.4.2</b></li>
                            <li><b>Django-cleanup</b></li>
                            <li><b></b></li>
                        </ul>
                    </li>
                    <li><b>Django Rest Framework 3.12.4</b>, а также
                        <ul>
                            <li><b>DRF-extra-fields</b></li>
                        </ul>
                    </li>
                    <li><b>Bootstrap 4.6</b></li>
                    <li><b>JavaScript</b>, а также
                        <ul>
                            <li><b>JQuery</b> для Bootstrap и Select2</li>
                            <li><b>Select2</b></li>
                        </ul>
                    </li>

                    <li><b>PostgreSQL</b></li>
                </ul>
                <p>Также в разработке и при деплое использовались:</p>
                <ul>
                    <li><b>Poetry</b></li>
                    <li><b>Docker</b> (и <b>Docker Compose</b>)</li>
                    <li><b>Nginx</b></li>
                    <li><b>Gunicorn</b></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}