{% extends "base.html" %}

{% block title %}{{ author.first_name }} {{ author.last_name }}{% endblock %}

{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-md-6">
            <h1>{{ author.first_name }} {{ author.last_name }}</h1>
            {% if user.is_authenticated and user.id is not author.id %}
                <div>
                    {% include "recipe-btn-follow-author.html" with authorid=author.id %}
                </div>
            {% endif %}
        </div>
        {% include "tags-filter.html" %}
    </div>
    <div class="row mt-5 mb-2">
        <div class="col">
            {% include "recipe-list.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block paginator %}
    {% include "paginator.html" with page=recipes %}
{% endblock %}