<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Foodgram</a>
            <button class="navbar-toggler collapsed" type="button"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'web-recipes' %}">Рецепты</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Мои подписки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Создать рецепт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'web-favorite-recipes' %}">
                                Избранное
                                {% if favorite_recipes %}
                                    ({{ favorite_recipes.count }})
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Список покупок
                                {% if shopping_cart %}
                                    ({{ shopping_cart.count }})
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"><b>{{ request.user }}</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url "web-logout" %}">Выход</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url "web-login" %}">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">
                                Создать аккаунт</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>