<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Foodgram</a>
            <button class="navbar-toggler collapsed" type="button"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-auto text-center">
                        <a class="nav-link"
                           href="{% url 'web-recipes' %}">Рецепты</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url 'web-subscriptions' %}">
                                Мои подписки</a>
                        </li>
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url 'web-recipe-create' %}">
                               Создать рецепт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link m-auto text-center"
                               href="{% url 'web-favorite-recipes' %}">
                                Избранное
                                {% with favourites_count=request.user.recipe_favourites.count %}
                                    <span class="favorites-count badge badge-secondary py-1 px-2
                                        {% if not favourites_count %}d-none{% endif %}">
                                            {{ favourites_count }}
                                    </span>
                                {% endwith %}
                            </a>
                        </li>
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url 'web-shopping-cart' %}">Покупки
                                {% with shopping_cart=request.user.shopping_cart.count %}
                                    <span class="shopping-cart-count badge badge-secondary py-1 px-2
                                        {% if not shopping_cart %}d-none{% endif %}">
                                            {{ shopping_cart }}
                                    </span>
                                {% endwith %}
                            </a>
                        </li>
                        {% if request.user.is_staff %}
                            <li class="nav-item m-auto text-center">
                                <a href="/admin/" class="nav-link">
                                    Админ</a>
                            </li>
                        {% endif %}
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url 'web-author-page' author_id=user.id %}">
                                <b>{{ request.user }}</b>
                            </a>
                        </li>
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url "web-logout" %}">Выход</a>
                        </li>
                    {% else %}
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link"
                               href="{% url "web-login" %}">Вход</a>
                        </li>
                        <li class="nav-item m-auto text-center">
                            <a class="nav-link" href="{% url 'signup' %}">
                                Создать аккаунт</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>