{% if page.has_other_pages %}
    <div class="container">
        <div class="row">
            <nav class="col">
                <ul class="pagination justify-content-center my-4"
                    data-num-pages="{{ page.paginator.num_pages }}"
                    data-current-page="{{ page.number }}"
                    data-params="{% for tag in selected_tags %}tags={{ tag }}{% if not forloop.last %}&{% endif %}{% endfor %}" >
                </ul>
            </nav>
        </div>
    </div>
{% endif %}

{% load static %}
<script src="{% static 'js/pagination.js' %}"></script>