<div class="row recipe-list">
{% load static %}
    {% for recipe in recipes %}
        <!-- КАРТОЧКА РЕЦЕПТА -->
        <div class="card-wrapper col-12 col-md-6 col-lg-4 p-2">
            <div class="card h-100">
                <!-- изображение-ссылка -->
                <a href="{% url 'web-recipes' %}{{ recipe.id }}/"
                   title="{{ recipe.name }}">
                    <div class="card-img-top card-img-top-bg"
                         style="background-image: url('{{ MEDIA_URL }}{{ recipe.image }}')">
                    </div>
                </a>
                <div class="card-body">
                    <a href="{% url 'web-recipes' %}{{ recipe.id }}">
                        <h2 class="card-title">{{ recipe.name }}</h2>
                    </a>
                    <!-- список тегов -->
                    {% include "recipe-tags-list.html" %}

                    <!-- время приготовления -->
                    {% include "recipe-cooking-time.html" %}
                    <!-- автор -->
                        {% include "recipe-author.html" %}
                    {% if user.is_authenticated %}
                        <div class="row mt-4 align-self-end">
                            <!-- кнопка добаления в список покупок -->
                            <div class="col-10">
                                {% include "recipe-btn-add-to-shooping-cart.html" %}
                            </div>
                            <!-- кнопка добаления в избранное -->
                            <div class="col-2 text-right">
                                {% include "recipe-btn-add-to-favorites.html" %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col my-5">
            Рецепты не найдены
        </div>
    {% endfor %}
</div>

{% load static %}
<script src="{% static 'js/buttons.js'%}"></script>
