<!-- кнопка подписки на автора -->
<!-- для использования необходимо подключить buttons.js -->
<div>
    <a href="#"
       title="Добавить в список покупок"
       class="btn btn-primary btn-follow-author
            {% if not is_followed %}d-none{% endif %}"
            data-authorid="{{ authorid }}"
            data-is_selected="false">
        {% include "icons/person-plus.svg" %}
        <span class="ml-2">Подписаться на автора</span></a>
    <a href="#"
       title="Удалить из списка покупок"
       class="btn btn-light btn-follow-author
                {% if is_followed %}d-none{% endif %}"
            data-authorid="{{ authorid }}"
            data-is_selected="true">
        {% include "icons/person-x.svg" %}
        <span class="ml-2">Отписаться от автора</span></a>
</div>
