{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container text-dark">
    <div class="row mt-5 mb-2">
        <h1 class="col-md-6">{{ title }}</h1>
        {% include "tags-filter.html" %}
    </div>
    {% include "recipe-list.html" %}
</div>

<div class="container paginator d-flex justify-content-center">
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center">&lt;</a>
    <a href="#" class="badge badge-pill badge-primary m-1 d-flex align-items-center justify-content-center">1</a>
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center justify-content-center">2</a>
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center justify-content-center">3</a>
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center justify-content-center">4</a>
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center justify-content-center">5</a>
    <a href="#" class="badge badge-pill badge-light m-1 d-flex align-items-center justify-content-center">&gt;</a>
</div>
{% endblock %}