{% extends "base.html" %}

{% block title %}Редактирование профиля{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-5 mb-2 justify-content-center">
            <h1 class="col-md-6">Редактирование профиля</h1>
        </div>
        <div class="row">
            <form class="col-md-10 col-lg-6 offset-md-1 offset-lg-3 border rounded my-5 p-5 shadow"
                  method="post"
                  action="{% url 'web-profile-edit' %}">
                {% csrf_token %}
                {% load website_filters %}
                {% for field in form %}
                    <div class="form-group row">
                        <label for="emailInput" class="col-4">{{ field.label }}</label>
                        <div class="col-8">
                            {{ field|add_class:"form-control" }}
                        </div>
                        <div class="col-8 offset-4">
                            <small class="form-text">{{ field.help_text }}</small>
                        </div>
                    </div>
                    {% if field.errors %}
                        <div class="form-group row">
                                <div class="col-8 offset-2 text-danger">
                                    {% for error in field.errors %}
                                        {{ error }} <br>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn block-darkstyle mx-3">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}