{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block main %}
    {% load website_filters %}
    <div class="container">
        <div class="row mt-5 mb-2 justify-content-center">
            <h1 class="col-md-6 text-center">Сброс пароля</h1>
        </div>
        <div class="row">
            <form class="col-lg-6 col-md-10 offset-lg-3 offset-md-1 border rounded my-5 p-5 shadow" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group row">
                        <div class="col-5">
                            {{ field.label }}
                        </div>
                        <div class="col-7">
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% if field.errors %}
                            <div class="col-7 offset-5 text-danger">
                                {% for error in field.errors %}
                                    {{ error }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group row d-flex justify-content-center align-items-center my-5">
                    <button type="submit" class="btn block-darkstyle mx-3" id="signInButton">Сбросить пароль</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}