{% with id=widget.attrs.id %}
    <div{% if id %} id="{{ id }}"{% endif %}
        {% if widget.attrs.class %}
               class="{{ widget.attrs.class }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% if group %}
                <div>{{ group }}
                <p{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
                {% endif %}
            {% for option in options %}
                {% load website_filters %}
                {% include "django/forms/widgets/input_option.html" with widget=option|filter_class:"__options__" %}
                {% endfor %}
            {% if group %}
                </p></div>
                {% endif %}
            {% endfor %}
    </div>
    {% endwith %}
