{% extends "base.html" %}

{% block title %}Регистрация успешна{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-5 mb-2">
            <h1 class="col">Заявка на регистрацию принята успешно</h1>
        </div>
        <div class="row my-5">
            <div class="col">
                Для завершения регистрации необходимо подтвердить
                адрес электронной почты. Чтобы ваш аккаунт был
                активирован, пройдите по ссылке, отправленной на адрес
                электронной, указанный при регистрации
            </div>
        </div>
    </div>

{% endblock %}